* {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
		Verdana, sans-serif;
	text-align: center;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.user-card {
	margin: 10px;
	border: blue 1px solid;
	width: 50%;
}
